# source file related
*.pyc
*.o



*.so
*.egg
*.egg-info



# training related
*.log
*.pth
*.pt
*.model
*.0

# result related
answers/
results/
ckpt/*
!ckpt/.gitkeep

*.jsonl


# assets related
data/*
!data/.gitkeep
model_zoo/*
!model_zoo/.gitkeep

# package related
src/run.sh
